<!DOCTYPE html>
<html>
<head>
  <title>Identity freshdesk</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "identity/freshdesk/application", media: "all" %>
  <%= javascript_include_tag "identity/freshdesk/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
